body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  line-height: 1.3;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 800;
}

.Hero {
  height: 920px;
  background: url('../../static/images/wallpaper3.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.HeroGroup {
  max-width: 550px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.HeroGroup h1 {
  color: white;
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  animation: HeroAnimation 3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  opacity: 0;
}

.HeroGroup p {
  font-size: 35px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  animation: HeroAnimation 3s 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.HeroGroup a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup h1 {
    font-size: 40px;
  }
  .HeroGroup p {
    font-size: 24px;
  }
  .HeroGroup {
    padding: 100px 20px;
  }
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 680px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}